@import url("https://fonts.googleapis.com/css2?family=Julius+Sans+One&family=Kurale&family=Monoton&family=Raleway:wght@300;400;600&family=Varela+Round&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Oleo+Script&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@600&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps:wght@400;700&display=swap");

/* font-family: 'Julius Sans One', sans-serif;
font-family: 'Kurale', serif;
font-family: 'Monoton', cursive;
font-family: 'Raleway', sans-serif;
font-family: 'Varela Round', sans-serif; 
font-family: 'Sansita Swashed', cursive;*/

:root {
  --coral: #ff7487;
  --blue: #92f9fb;
  --pink: #ff88fe;
  --light-blue: #95e8e7;
  --light-pink: #fbc6e5;
  --v-light-blue: #cce9e9;
  --neutral: #676868;
}

/* @media (min-width: 200px) and (max-width: 400px) { */

/* #foo {
    color: var(--main-color);
} */

h1 {
  font-family: "Oleo Script Swash Caps", cursive;
  color: var(--neutral);
  text-align: center;
  font-size: 3rem !important;
}

h2 {
  font-family: "Kurale", serif;
  color: var(--neutral);
  text-align: center;
  font-size: 2rem;
}

p,
label,
button,
input,
select,
table,
option {
  font-family: "Varela Round", sans-serif;
  color: var(--neutral);
  padding: 15px;
  font-size: 1.2rem;
  text-align: center;
}

#loginbtn,
#registerbtn,
#logoutbtn,
#newday,
.inputBtn,
#inputBtn,
.search-button,
a {
  font-family: "Varela Round", sans-serif;
  text-transform: uppercase;
  display: inline-block;
  padding: 1rem;
  border: 0.17em solid var(--blue);
  /* margin: 0 0.3em 0.3em 0; */
  border-radius: 0.5em;
  box-sizing: border-box;
  text-decoration: none;
  text-align: center;
  transition: all 0.2s;
  background-color: var(--light-blue);
  cursor: pointer;
  font-size: 1rem;
  margin: 5px;
}

input,
.search-bar,
select {
  border: 0.15em solid var(--blue);
  border-radius: 0.3em;
  box-sizing: border-box;
  font-family: "Varela Round", sans-serif !important;
  padding: 5px;
  font-size: 1rem !important;
  width: 375px;
  height: 60px;
  border-radius: 0.5em;
}

button:hover,
#btn:hover,
#loginbtn:hover,
#registerbtn:hover,
#logoutbtn:hover,
a:hover,
#newday:hover,
.search-button input:hover {
  border: 0.17em solid var(--coral);
  background-color: var(--coral);
  color: white;
}

input:focus,
select:focus {
  background-color: var(--v-light-blue);
}

.container {
  text-align: center;
  /* width: 80%; */
  clear: both;
}

.container input {
  width: 80%;
  clear: both;
}

.container1 {
  display: block;
  text-align: center;
  clear: both;
}

.container1 input {
  display: block;
  width: 80%;
  clear: both;
  text-align-last: center;
}

#newday {
  display: block;
  margin: auto;
  border-radius: 50%;
  padding: 45px;
}

.recipe img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
  filter: drop-shadow(5px 5px 4px rgba(0, 0, 0, 0.25));
}

a {
  text-decoration: none;
  color: var(--neutral);
}
.search-button button {
  background-color: var(--light-blue);
}

.recipe {
  text-align: center;
  font-family: "Varela Round", sans-serif;
  font-size: 1.5rem;
  color: var(--neutral);
}

#appleicon {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#quote {
  background-color: var(--v-light-blue);
  margin: 10px;
  padding: 15px;
  border-radius: 20px;
  filter: drop-shadow(5px 5px 4px rgba(0, 0, 0, 0.25));
}

#recipecard {
  border: 0.17em solid var(--blue);
  border-radius: 20px;
  margin: 15px;
  padding: 20px;
  background-color: var(--v-light-blue);
}
/* } */
