.nav,
#logoutbtn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  text-align: center;
  background-color: var(--v-light-blue);
  color: var(--coral);
  margin: 3px;
  padding: 15px 0;
  width: 100%;
  border: 0.17em solid var(--blue);
}

.apple {
  width: 70px;
  height: 70px;
  margin: 0;
}

#idealMeTitle {
  display: flex;
  width: 40%;
  justify-content: center;
  align-items: center;
}

.nav:hover,
#logoutbtn:hover {
  background-color: gray;
}

.navbar {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  border-radius: 0.3em;
}

.allShow {
  display: flex;
  padding: 0 20px;
  justify-content: space-between;
}

.menuIcon {
  cursor: pointer;
}

i {
  margin-right: 10px;
}
